<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="content">
            <div>
                 <label for="venueName"><strong>Venue Name:</strong></label>
                 <span id="venueName" th:text="${performance.venueName}"></span>
             </div>
            <div>
                 <label for="ensembleName"><strong>Ensemble Name:</strong></label>
                 <span id="ensembleName" th:text="${performance.ensembleName}"></span>
             </div>
            <div>
                 <label for="title"><strong>Title:</strong></label>
                 <span id="title" th:text="${performance.title}"></span>
             </div>
            <div>
                 <label for="date"><strong>Date:</strong></label>
                 <span id="date" th:text="${performance.date}"></span>
             </div>

            <div>
                <h2>Documents</h2>
                <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Composer</th>
                    <th>Ensemble</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="musicDocument : ${musicDocuments}">
                    <td><a th:href="@{/musicdocuments/{id}(id=${musicDocument.id})}" th:text="${musicDocument.title}" target="_self"
                                       rel="noopener noreferrer"></a></td>
                    <td th:text="${musicDocument.composer}">Composer</td>
                    <td th:text="${musicDocument.ensemble}">Ensemble</td>
                    <td th:text="${musicDocument.genre}">Genre</td>
                </tr>
            </tbody>
        </table>
            </div>
    </div>

</body>
</html>