<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="content">
        <div>
                 <label for="title"><strong>Title:</strong></label>
                 <span id="title" th:text="${musicDocument.title}"></span>
             </div>
             <div>
                 <label for="composer"><strong>Composer:</strong></label>
                 <span id="composer" th:text="${musicDocument.composer}"></span>
             </div>
             <div>
                 <label for="arranger"><strong>Arranger:</strong></label>
                 <span id="arranger" th:text="${musicDocument.arranger}"></span>
             </div>
             <div>
                 <label for="orchestrator"><strong>Orchestrator:</strong></label>
                 <span id="orchestrator" th:text="${musicDocument.orchestrator}"></span>
             </div>
             <div>
                 <label for="ensemble"><strong>Ensemble:</strong></label>
                 <span id="ensemble" th:text="${musicDocument.ensemble}"></span>
             </div>
             <div>
                 <label for="genre"><strong>Genre:</strong></label>
                 <span id="genre" th:text="${musicDocument.genre}"></span>
             </div>
            <div>
                 <label for="notesAboutDocument"><strong>Notes About Document:</strong></label>
                 <span id="notesAboutDocument" th:text="${musicDocument.notesAboutDocument}"></span>
            </div>
            <div>
                 <label for="hasParts"><strong>Document Contains Parts:</strong></label>
                 <span id="hasParts" th:text="${musicDocument.hasParts ? 'Yes' : 'No'}"></span>
            </div>
            <div>
                 <label for="hasScore"><strong>Document Contains Score:</strong></label>
                 <span id="hasScore" th:text="${musicDocument.hasScore ? 'Yes' : 'No'}"></span>
            </div>
            <div>
                 <label for="isCollection"><strong>Document Contains Multiple Pieces:</strong></label>
                 <span id="isCollection" th:text="${musicDocument.isCollection ? 'Yes' : 'No'}"></span>
            </div>
            </br>
            <iframe th:src="@{/musicdocuments/{id}/pdf(id=${musicDocument.id})}" width="600" height="800"></iframe>
            <a th:href="@{'/musicdocuments/' + ${musicDocument.id} +'/pdf'}" th:download="${musicDocument.title + '.pdf'}">Download PDF</a>
            <div>
                <h2>Performances</h2>
                <a th:href="@{/musicdocuments/{id}/addperformance(id=${musicDocument.id})}">Add Performance</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Venue</th>
                    <th>Ensemble</th>
                    <th>Title</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="performance : ${performances}">
                    <td th:text="${performance.venueName}">Venue</td>
                    <td th:text="${performance.ensembleName}">Ensemble</td>
                    <td th:text="${performance.title}">Title</td>
                    <td th:text="${performance.date}">Date</td>

                </tr>
            </tbody>
        </table>
            </div>
    </div>

</body>
</html>