<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="content">
        <div>
                 <label for="title">Title:</label>
                 <input id="title" th:field="${musicDocument.title}" type="text">
             </div>
             <div>
                 <label for="composer">Composer:</label>
                 <input id="composer" th:field="${musicDocument.composer}" type="text">
             </div>
             <div>
                 <label for="arranger">Arranger:</label>
                 <input id="arranger" th:field="${musicDocument.arranger}" type="text">
             </div>
             <div>
                 <label for="orchestrator">Orchestrator:</label>
                 <input id="orchestrator" th:field="${musicDocument.orchestrator}" type="text">
             </div>
             <div>
                 <label for="ensemble">Ensemble:</label>
                 <input id="ensemble" th:field="${musicDocument.ensemble}" type="text">
             </div>
             <div>
                 <label for="genre">Genre:</label>
                 <input id="genre" th:field="${musicDocument.genre}" type="text">
             </div>
            <div>
                 <label for="notesAboutDocument">Notes About Document:</label>
                 <input id="notesAboutDocument" th:field="${musicDocument.notesAboutDocument}" type="text">
            </div>
            <div>
                 <label for="hasParts">Document Contains Parts:</label>
                 <input id="hasParts" th:field="${musicDocument.hasParts}" type="checkbox" onclick="return false;">
            </div>
            <div>
                 <label for="hasScore">Document Contains Score:</label>
                 <input id="hasScore" th:field="${musicDocument.hasScore}" type="checkbox" onclick="return false;">
            </div>
            <div>
                 <label for="isCollection">Document Contains Multiple Pieces:</label>
                 <input id="isCollection" th:field="${musicDocument.isCollection}" type="checkbox" onclick="return false;">
            </div>
            <iframe th:src="@{/musicdocuments/{id}/pdf(id=${musicDocument.id})}" width="600" height="800"></iframe>
            <a th:href="@{'/musicdocuments/' + ${musicDocument.id} +'/pdf'}" th:download="${musicDocument.title + '.pdf'}">Download PDF</a>
            <div>
                <h2>Performances</h2>
                <a th:href="@{/musicdocuments/{id}/addperformance(id=${musicDocument.id})}">Add Performance</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Venue</th>
                    <th>Ensemble</th>
                    <th>Title</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="performance : ${performances}">
                    <td th:text="${performance.venueName}">Venue</td>
                    <td th:text="${performance.ensembleName}">Ensemble</td>
                    <td th:text="${performance.title}">Title</td>
                    <td th:text="${performance.date}">Date</td>

                </tr>
            </tbody>
        </table>
            </div>
    </div>

</body>
</html>